*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #212121;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.chat {
    margin: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80vh;
    width: 50vw;
    background-color: #565454;
    border-radius: 5px;

}
.chatBox {
    overflow: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #888;
}
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
.messageBox {
    padding: 5px;
    margin: 5px;
    text-align: left;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
}
.messageBox >div {
    display: flex;
    gap:5px;
}
.message {
    word-break: break-all;
}
.date {
    font-size: small;
    font-style: italic;
}
.inputs {
    display: flex;
    align-items: center;
}
.inputs button:hover {
    background-color: #8a8888;
}
input,button {
    height: 40px;
    flex:1;
    margin: 10px;
    border-radius: 5px;
    transition: 0.3s ease-in-out;
}
input[type="text"] {
    flex:4;
    padding: 10px;
}
button {
    padding: 10px;
    flex:2;
}

.photosCont {
    display: grid;
    height: 70vh;
    width: 70vw;
    grid-template-rows: repeat(5,1fr);
    grid-template-columns: repeat(5,1fr);
    margin: 20px auto;
    gap:10px;
}
.photoBox {
    width: 150px;
    height: 100px;
    /*border:1px solid black;*/
    cursor: pointer;
    background-color: #565454;

}
.occupied {
    width: 150px;
    height: 100px;
    position: relative;
}
img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}
.photoBox:hover {
    background-color: lightgreen;
}
.navLink button {
    background-color: lightgreen;
    border-radius: 5px;
    transition: ease-in-out 0.3s;
    margin: 20px;
}
.navLink button:hover {
    background-color: #158115;
}
.error {
    color: white;
}
.close {
    position: absolute;
    margin: 5px;
    cursor:pointer;
    padding: 5px;
    border-radius: 5px;
}
.occupied:hover .close {
    background-color: lightgrey;
}
.request {
    padding: 5px;
    position: absolute;
    height: 100%;
    top: 0;
    color: white;
    background: rgb(0,0,0);
    background: linear-gradient(184deg, rgba(0,0,0,0.468312324929972) 0%, rgba(18,18,18,0.9389005602240896) 100%);
}
.request button {
   padding: 3px 5px;
    height: 25px;
    width: 40px;
    background-color: lightgreen;
    transition: 0.3s ease-in-out;
}
.request button:hover {
    background-color: #158115;
}
